<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital EPC | Conócenos</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_final.css")}}">
</head>
<body>
    <h1 style="color: #250cb3; background-color: lightsteelblue; font-family: sans-serif;">NUESTROS ESPACIOS</h1>
    <h2 style= "text-align: center; font-family: sans-serif;">Urgencias 24 horas</h2>
    <img style="height: 300px;width: auto;display: block;margin: auto; border-radius: 20%;" src="{{url_for("static", filename ="images/urgencias.jpg")}}">

    <h2 style= "text-align: center; font-family: sans-serif; padding-top: 40px;">Habitaciones de Hospitalización</h2>
    <img style="height: 300px;width: auto;display: block;margin: auto; border-radius: 20%;" src="{{url_for("static", filename ="images/hospitalizacion.jpg")}}"> 

    <h2 style= "text-align: center; font-family: sans-serif; padding-top: 40px;">Unidad de Cuidados Intensivos (UCI)</h2>
    <img style="height: 300px;width: auto;display: block;margin: auto; border-radius: 20%;" src="{{url_for("static", filename ="images/UCI.jpeg")}}">     

    <h2 style= "text-align: center; font-family: sans-serif; padding-top: 40px;">Unidad neonatal</h2>
    <img style="height: 300px;width: auto;display: block;margin: auto; border-radius: 20%;" src="{{url_for("static", filename ="images/neonatal.jpg")}}"> 

    <h2 style= "text-align: center; font-family: sans-serif; padding-top: 40px;">Consulta externa de médicos especialistas</h2>
    <img style="height: 300px;width: auto;display: block;margin: auto; border-radius: 20%;" src="{{url_for("static", filename ="images/consulta.jpg")}}">  

    <h2 style= "text-align: center; font-family: sans-serif; padding-top: 40px;">Laboratorio médico</h2>
    <img style="height: 300px;width: auto;display: block;margin: auto; border-radius: 20%;" src="{{url_for("static", filename ="images/laboratorio.jpg")}}">  

    <h2 style= "text-align: center; font-family: sans-serif; padding-top: 40px;">Salas de cirugía</h2>
    <img style="height: 300px;width: auto;display: block;margin: auto; border-radius: 20%;" src="{{url_for("static", filename ="images/cirugia.jpg")}}">  

    <h2 style= "text-align: center; font-family: sans-serif; padding-top: 40px;">Cafetería</h2>
    <img style="height: 300px;width: auto;display: block;margin: auto; border-radius: 20%;" src="{{url_for("static", filename ="images/cafeteria.jpg")}}">     
  
    <div id="buttons">
        <a style =" font-family: sans-serif;" class="btn blue" href="/">REGRESEMOS AL HOME</a>
    </div>
    
</body>
</html>