<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital EPC | Dato Curioso</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_final.css")}}">
</head>
<body>
    <h1 style="color: #250cb3; background-color: lightsteelblue; font-family: sans-serif;">DATO CURIOSO SOBRE MI</h1>

    <h2 style = " padding-top: 40px; font-family: sans-serif;">• Mi nombre es Elena Posada Cataño</h2>
    <h2 style="font-family: sans-serif;">• Soy la mayor de 3 hermanas</h2>
    <h2 style="font-family: sans-serif;">• Tengo 2 hermans mellizas</h2>
    <h2 style="font-family: sans-serif;">• En mis tiempos libres me gusta hacer pilates</h2>
    <h2 style="font-family: sans-serif;">• Estoy aprendiendo a hacer lettering</h2>


    <div id="buttons">
        <a style =" font-family: sans-serif;" class="btn blue" href="/">REGRESEMOS AL HOME</a>
    </div>
    
</body>
</html>