<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital EPC | Doctores</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_final.css")}}">
</head>
<body>
    <h1  style="color: #250cb3; background-color: lightsteelblue; font-family: sans-serif;">NUESTROS ESPECIALISTAS</h1>
    <h6 style= "text-align: center; font-family: sans-serif; font-size: 98%;">• Dra. Marcela Acevedo</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">Especialista en Ginecología</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%; ">• Dra. Gloria Orrego</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">Especialista en Dermatología</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dra. Carolina Sanchez</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">Especialista en Pediatría</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dr. Juan Luis Alvarez</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Cirugía Plastica</h6>
    
    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dr. Andrés Herrera</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Cargiología</h6>
   
    <h6 style= "text-align: center; font-family: sans-serif; font-size: 98%;">• Dr. Diego Gonzalez</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Ortopedia</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dra. Alejandra Velez </h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Pedriatría</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dra. Maria Andrea Suarez</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Medicina Interna</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dr. Ricardo Ruiz</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Otorrinolaringología</h6>
    
    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dr. Carlos Alvarez</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Inmunología</h6>

    <h6 style= "text-align: center; font-family: sans-serif; font-size: 98%;">• Dr. Oscar Tirado</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Cirugía Plastica</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dr. Andrés Hurtado</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Endocrinología</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dra. Laura Pelaez</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Cardiología</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dr. Juan David Pineda</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Neurología</h6>
    
    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dra. Catalina Mejía</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Neumología</h6>

    <h6 style= "text-align: center; font-family: sans-serif; font-size: 98%;">• Dra. Cristina Yepes</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Ginecología y Obstetricia</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dr. Gonzalo Ruiz</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Trauma</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dra. Ana Maria Villegas</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Oncología</h6>

    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dr. Julio Espinal</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Nefrología</h6>
    
    <h6 style= "text-align: center; font-family: sans-serif; padding-top: 40px; font-size: 98%;">• Dr. Andrés Sanchez</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">Especialista en Pediatría</h6>

    <div id="buttons">
        <a style =" font-family: sans-serif;" class="btn blue" href="/">REGRESEMOS AL HOME</a>
    </div>
    
</body>
</html>