<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital EPC | Pacientes</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_final.css")}}">
</head>
<body>
    <h1  style="color: #250cb3; background-color: lightsteelblue; font-family: sans-serif;">NUESTROS PACIENTES</h1>
    <h6 style= "text-align: center; font-family: sans-serif;">• Marcela Acevedo</h6>
    <h6 style= "text-align: center; font-family: sans-serif; ">• Sofia Uribe</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">• Antonia Jaramillo</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Carlos Alvarez</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Andrés Hernandez</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Santiago Rios</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">• Nicolás Mejía </h6>
    <h6 style= "text-align: center; font-family: sans-serif;">• Maria Andrea Rodriguez</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Natalia Uribe</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Maria Camila Guarín</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Juanita Zuluaga</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Juan Pablo Nicholls</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">• Matías Velez</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Elena Naranjo</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">• Valeria Osorio</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">• Cristina Villa</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Paulina Gonzalez</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">• Manuela Sanz</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Jualian Ortíz</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Samuel Velez</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">• Pablo Ochoa</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Maria Isabel Zuleta</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">• Sebastían Sepulveda</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Alejandro Buitrago</h6>
    <h6 style= "text-align: center; font-family: sans-serif;">•  Rodrigo Velez</h6>

    <div id="buttons">
        <a style =" font-family: sans-serif;" class="btn blue" href="/">REGRESEMOS AL HOME</a>
    </div>
    
</body>
</html>