<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | home</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home.css")}}">
</head>
<body>
    <h1>Bienvenidos a una pagina sobre mi</h1>
    <h2>Aqui podras encontrar mi Top 5 de lugares y personas favoritas</h2>
    <a href="/places">IR A MIS LUGARES FAVORITOS</a>
    <a href="/people">IR A MIS PERSONAS FAVORITOS</a>
    
</body>
</html>