<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | places</title>
</head>
<body>
    <h1 style="color: blueviolet;">Mis lugares favoritos en el mundo son:</h1>
    <h2>#5: {{lugar5}}</h2>
    <img src="{{url_for("static", filename ="images/Medellin.jpg")}}">
    <h2>#4: {{lugar4}}</h2>
    <img src="{{url_for("static", filename ="images/Madrid.jpg")}}">     
    <h2>#3: {{lugar3}}</h2>
    <img src="{{url_for("static", filename ="images/Paris.jpg")}}">  
    <h2>#2: {{lugar2}}</h2>
    <img src="{{url_for("static", filename ="images/Orlando.png")}}">  
    <h2>#1: {{lugar1}}</h2>
    <img src="{{url_for("static", filename ="images/Dubrovnik.jpg")}}">  
    <a href="/">REGRESEMOS AL HOME</a>
    
</body>
</html>