<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | places</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_taller.css")}}">
</head>
<body>
    <h1 style="color: blueviolet;">Mis lugares favoritos en el mundo son:</h1>
    <h2>#5: Medellín, Colombia</h2>
    <img src="{{url_for("static", filename ="images/Medellin.jpg")}}">
    <h2>#4: Madrid, España</h2>
    <img src="{{url_for("static", filename ="images/Madrid.jpg")}}">     
    <h2>#3: Paris, Francia</h2>
    <img src="{{url_for("static", filename ="images/Paris.jpg")}}">  
    <h2>#2: Orlando, Estados Unidos</h2>
    <img src="{{url_for("static", filename ="images/Orlando.png")}}">  
    <h2>#1: Dubrovnik, Croacia</h2>
    <img src="{{url_for("static", filename ="images/Dubrovnik.jpg")}}">  
    <a href="home">REGRESEMOS AL HOME</a>
    
</body>
</html>