<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | Services</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_taller_final.css")}}">
</head>
<body>
    <h1 style="color: #250cb3; background-color: lightsteelblue; font-family: sans-serif;">MISIÓN</h1>
    <img style="height: 10%;width: 10%;display: block;margin: auto;"  src="{{url_for("static", filename ="images/mision.png")}}">
    <h2 style= "text-align: center; font-family: sans-serif; font-size: 98%;">Contribuir al cuidado de la vida y la recuperación de la salud, mediante un servicio diferenciado, centrado en la persona, integral, seguro, humanizado, con personal idóneo y una excelente gestión que garantice creación de valor a sus partes interesadas, cuidado del medio ambiente, sostenibilidad económica y permanencia en el tiempo.</h2>

    <h1 style="color: #250cb3; background-color: lightsteelblue; font-family: sans-serif;">VISIÓN</h1>
    <img style="height: 10%;width: 10%;display: block;margin: auto;" src="{{url_for("static", filename ="images/vision.png")}}">
    <h2 style= "text-align: center; font-family: sans-serif; font-size: 98%;"> Ser para el año 2022 una institución de salud de alta complejidad, líder en atención integral, segura, humanizada, centrada en la persona, cuidadora del medio ambiente y centro de referencia a nivel nacional e internacional.</h2>
    
    <div id="buttons">
        <a style =" font-family: sans-serif;" class="btn blue" href="/">REGRESEMOS AL HOME</a>
    </div>

    
</body>
</html>