<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | Services</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_taller_final.css")}}">
</head>
<body>
    <h1 style="color: #250cb3; background-color: lightsteelblue; font-family: sans-serif;">CONTÁCTANOS</h1>
    <h1 style="font-family: sans-serif;">HOSPITAL ELENA POSADA CATAÑO</h1>

    <h2 style = " padding-top: 40px; font-family: sans-serif;">Telefono: (034) 444 55 33</h2>
    <h2 style="font-family: sans-serif;">Correo: contacto@hepc.com</h2>
    <h2 style="font-family: sans-serif;">Dirección: calle 27 sur # 58 - 27</h2>
    <h2 style="font-family: sans-serif;">Medellín, Colombia</h2>

    <div id="buttons">
        <a style =" font-family: sans-serif;" class="btn blue" href="/">REGRESEMOS AL HOME</a>
    </div>
    
</body>
</html>