<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | Doctors</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_taller.css")}}">
</head>
<body>
    <h1 style="color: blueviolet;">NUESTROS ESPECIALISTAS:</h1>
    <h2>Dra. Marcela Acevedo</h2>
    <h2>Especialista en Ginecología</h2>
    <img src="{{url_for("static", filename ="images/medica1.jpg")}}">
    <h2>Dra. Gloria Orrego</h2>
    <h2>Especialista en Dermatología</h2>
    <img src="{{url_for("static", filename ="images/medica2.jpeg")}}">     
    <h2>Dra. Carolina Sanchez</h2>
    <h2>Especialista en Pediatría</h2>
    <img src="{{url_for("static", filename ="images/medica3.jpg")}}">  
    <h2>Dr. Juan Luis Alvarez</h2>
    <h2>Especialista en Cirugía Plastica</h2>
    <img src="{{url_for("static", filename ="images/medico4.png")}}">  
    <h2>Dr. Andrés Herrera</h2>
    <h2>Especialista en Cargiología</h2>
    <img src="{{url_for("static", filename ="images/medico5.jpg")}}">  
    <a href="/">REGRESEMOS AL HOME</a>
    
</body>
</html>