<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital EPC | home</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_taller_final.css")}}">
</head>
<body>
    <div id="buttons">
      <h1 style="color: #250cb3; background-color: lightsteelblue; font-family: sans-serif;">BIENVENIDO AL HOSPITAL ELENA POSADA CATAÑO</h1>
      <h2 style="font-family: sans-serif;">Aqui podras conocer más sobre nosotros y nuestros servicos</h2>
      <a style =" font-family: sans-serif;" href="/doctors" class="btn blue">ESPECIALISTAS</a>
      <a style =" font-family: sans-serif;" href="/services" class="btn blue">SERVICIOS</a>
      <a style =" font-family: sans-serif;" href="/about" class="btn blue">NOSOTROS</a>
      <a style =" font-family: sans-serif;" href="/contact" class="btn blue">CONTACTO</a>
    </div>
    
</body>
</html>