<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | home</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_taller.css")}}">
</head>
<body>
    <div>
      <h1>BIENVENIDO AL HOSPITAL ELENA POSADA CATAÑO</h1>
      <h2>Aqui podras conocer más sobre nosotros y nuestros servicos</h2>
      <a href="/doctors">ESPECIALISTAS</a>
      <a href="/services">SERVICIOS</a>
      <a href="/about">NOSOTROS</a>
      <a href="/contact">CONTACTO</a>
    </div>
    
</body>
</html>