<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | Services</title>
    <link rel="stylesheet" href="{{url_for("static", filename ="css/home_taller.css")}}">
</head>
<body>
    <h1 style="color: blueviolet;">NUESTROS SERVICIOS:</h1>
    <h2>Urgencias 24 horas</h2>
    <img src="{{url_for("static", filename ="images/urgencias.jpg")}}">

    <h2>Unidad de Cuidados Intensivos (UCI)</h2>
    <img src="{{url_for("static", filename ="images/UCI.jpeg")}}">     

    <h2>Unidad neonatal</h2>
    <img src="{{url_for("static", filename ="images/neonatal.jpg")}}"> 

    <h2>Consulta externa de médicos especialistas</h2>
    <img src="{{url_for("static", filename ="images/consulta.jpg")}}">  

    <h2>Laboratorio médico</h2>
    <img src="{{url_for("static", filename ="images/laboratorio.jpg")}}">  

    <h2>Salas de cirugía</h2>
    <img src="{{url_for("static", filename ="images/cirugia.jpg")}}">  

    <a href="/">REGRESEMOS AL HOME</a>
    
</body>
</html>